.trasfer-fund {
  background: #434343;
  padding: 25px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  .transfer {
    display: flex;
  }

  .msg {
    color: rgb(255, 117, 117);
  }
  input {
    width: 100px;
  }
  button {
    background: #98ccfd;
    border: none;
    color: white;
    width: 70px;
  }
}
@media (max-width: 760px) {
  .trasfer-fund {
    padding: 5px;
    font-size: 1.1rem;
  }
}
