@font-face {
  font-family: caveat;
  src: url(../src/assets/font/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: Haalei;
  src: url(../src/assets/font/Haalei/Hanalei-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../src/assets/font/Montserrat/Montserrat-Black.ttf);
}
@font-face {
  font-family: Rancho;
  src: url(../src/assets/font/Rancho/Rancho-Regular.ttf);
}
@font-face {
  font-family: Anton;
  src: url(../src/assets/font/Anton/Anton-Regular.ttf);
}
